.App {
  text-align: center;
}
body {
background-color: #E6DDC4;
display: grid;
grid-column-gap: 1em;
grid-template-columns: 1fr;
}
.heading {
    color: #181D31;
    text-align: center;
    border-radius: 2px; 
    background-color: #678983;
    margin: 10px;
}

#wrapper {
    padding-top: 3rem;
    display: flex;
}
#editor {
    float: left;
    height: 100vh;
    width: 500px;
    margin: 10px;
    background-color: #E6DDC4;
    font-size: 18px;
    border-width: 0px 0px 0px thick;
    border-color: #ff7700;
    resize: none;
    color: #181D31;
    padding: 10px;


}
textarea:focus {
    border-color: #ffffff;
    outline: none;
}
#preview {
    float: right;
    height: 98vh;
    width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: #E6DDC4;
    color: #181D31;
    flex-basis: 50%;
    flex-shrink: 1;
    overflow: auto;
    padding: 10px;
    border-width: 0px 0px 0px thick;
    border-color: #ff7700;
}

@media (max-width: 800px) {
    #editor {
        font-size: 1em;
        width: 200px;
    }   
    #preview {
    }   
}
