.App {
  text-align: center;
}
body {
 background-color: #ddd;
}
#wrapper {
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-self: stretch;
 grid-gap: 5em;
}
#editor-group {
 height: 100vh;
 width: 100%;
 margin: 5em;
 padding: 0.5em;
 border-radius: 1em;
 border-style:none none none solid;
 border-width: .5em;
 border-color: #ccc;
}

#editor{
 height:90%;
 width: 100%;
 background-color: #ddd;
 color: #181D31;
 font-size: 18px;
 border-style:none none none none;
}

textarea {
 outline: none;
 resize: none;
}

#preview-group {
 float: right;
 height: 98vh;
 width: 100%;
 margin: 5em;
 background-color: #ddd;
 color: #181D31;
 overflow: auto;
 padding: 1em;
 border-radius: 1em;
 border-style:none none none solid;
 border-width: .5em;
 border-color: #ccc;
}

@media (max-width: 810px) {
 #wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  grid-gap: 0.5em;
  margin-top: 2em;
 }
 #editor {
     height: 35vh;
     margin: 0px;
     width: 90vw;
 }

 #preview {
     margin: .25em;
     height: 55vh;
     width: 90vw;
 }
}

#preview-heading {
    color: red;
}
#editor-heading {
    color: red;
}
